<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="ly.img.react_native.vesdk">

	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.INTERNET" />

	<uses-permission android:name="android.permission.WAKE_LOCK" />

    <application>
        <activity android:name=".view.CustomVideoEditorActivity"/>
        <provider
            tools:replace="android:enabled"
            android:authorities="${applicationId}.IMGLYAutoInit"
            android:exported="false"
            android:enabled="false"
            android:name="ly.img.android.IMGLYAutoInit" />
        <activity 
            android:theme="@style/Theme.Imgly"
            android:name=".RNVideoEditorSDKActivity" />
    </application>
</manifest>
